<nav class="navbar navbar-dark bg-dark navbar-expand-lg mb-5">
  <div class="container">
      <a class="navbar-brand" href="/">
        ILMP
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="navbar-nav">
          
              <a class="nav-link" href="/dashboard">Dashboard</a>
              <a class="nav-link" href="/patient">Patients</a>
              <a class="nav-link" href="/AccountDetails">Accounts</a>
              <a class="nav-link" href="/account/logout">Logout</a>
        </div>
      </div>
    </div>
  </nav>