<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
     

    <body>
        <% include ./partials/navbar %>   
        <div>
        <h1 style="padding-top: 50px">Dashboard</h1>
        </div>
    </body>
</html>