<!DOCTYPE html>
<html>
    <% include ./partials/header %>
    <head>
        
    </head>
     

    <body>
        <% include ./partials/navbar %>
        <div class="container">
        <h1>Dashboard</h1>
        <% include ./partials/scripts %> 
        <h1>Hi <%=locals.user.firstName %> <%=locals.user.lastName %>!</h1>
        </div>
        
    </body>
</html>