<!DOCTYPE html>
<html>
    <% include ./partials/header %>
    <body>
        <% include ./partials/navbar %> 
        <div class="container"> 
        <h1>Dashboard</h1>
        <% include ./partials/scripts %> 
        <h1>Hi <%=locals.user.firstName %> <%=locals.user.lastName %>!</h1>
        <h1>heres some text!</h1>
        </div>
    </body>
</html>