<!DOCTYPE html>
<html>
  <% include ./partials/header %>

  <body> 
    <% include ./partials/navbar %>

    <h1>Patient Management Platform</h1>
    <p>Welcome to the the patient management platform</p>
    <a href="/dashboard">Enter</a>

    <% include ./partials/scripts %>

  </body>
  <% include ./partials/scripts %> 
</html>
