<!DOCTYPE html>
<html>
  <head>
    <title>Patient Management</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body> 
    <h1>Patient Management Platform</h1>
    <p>Welcome to the the patient management platform</p>
    <a href="/dashboard">Enter</a>
  </body>
</html>
