<!DOCTYPE html>
<html>
  <% include ./partials/header %>

<body>
  <% include ./partials/navbar %>

  <div class="container">
    <form method="POST" action="/login">
      <div class="form-group col-4">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" placeholder="Username" name="username">
      </div>

      <div class="form-group col-4">
        <label for="password">Password:</label>
        <input type="text" class="form-control" id="password" placeholder="Password" name="password">
      </div>

      <input type="submit" value="Log" class="btn btn-primary" />


    </form>
  </div>

    <% include ./partials/scripts %>
  <body>
</html>

