<!DOCTYPE html>
<html>
  <% include ../partials/header %> 

  <body>
    <% include ../partials/navbar %> 

    <h1>Account Details</h1>
    <a class="btn btn-primary" href="/AccountDetails/create">+User</a>

    <% include ../partials/scripts %> 

  </body>
</html>
