<!DOCTYPE html>
<html>
  <% include ../partials/header %> 

  <body>
    <% include ../partials/navbar %> 
    <div class="container">
    <h1>Account Details</h1>

    <div class="card" style="width: 25rem;">
      <div class="card-body">

        <h4>  <%=locals.user.role %> </h4>
        <h2>Hello,  <%=locals.user.firstName %> <%=locals.user.lastName %>!</h2>
      
        <h3>Email:  <%=locals.user.email %> </h3>
        <p class="card-text">This is your account information.</p>

      </div>
    </div>



  </body>
</html>
