<!DOCTYPE html>
<html>
  <% include ../partials/header %> 

  <body>
    <% include ../partials/navbar %> 
    <div class="container">
    <h1>Account Details</h1>

    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h2>Hi <%=locals.user.firstName %> <%=locals.user.lastName %>!</h2>
      
        <h3>Hi <%=locals.user.email %> </h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>



  </body>
</html>
