<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Patients %></h1>
    <% include ./partials/navbar %> 
    <p>Welcome to <%= title %></p>
  </body>
</html>
