<!DOCTYPE html>
<html>
  <% include ../partials/header %> 

  <body>
    <% include ../partials/navbar %> 
    <div class="container">
      <h1>Patients</h1>

      <a class="btn btn-primary" href="Patient/addNewPatient">+Add Patient</a>
    </div> 

    <% include ../partials/scripts %> 

  </body>
</html>
