<html>
    <% include ../partials/header %> 

    <body>
        <% include ../partials/navbar %> 
        <div class="container">
          <h1><%=data.FirstName%> <%=data.LastName%> </h1>
          <div class="row">
            <div class="col-sm" style="height: 10%; border: solid black">
              <h1>Here's some text</h1>
            </div>
            <div class="col-sm"></div>
            <div class="cold-lg" style="height: 75%; border: solid black">
              <h1>Here's some text</h1>
            </div>
          </div>
        </div>
</html>