<html>
    <% include ../partials/header %> 

    <body>
        <% include ../partials/navbar %> 
        <div class="container">
          <h1><%=data.FirstName%> <%=data.LastName%> </h1>
        </div>
</html>