<!DOCTYPE html>
<html>
  <% include ../partials/header %> 

  <body>
    <% include ../partials/navbar %> 
    <div class="container">
      <h1>Thanks!</h1>
      <h2>Patient has been created</h2>
      <div>
        <a class="btn btn-primary" href="/patient">Return To Patient Dashboard</a>
      </div> 
    </div> 

    <% include ../partials/scripts %> 

  </body>
</html>